.greeting {
  display: inline-block;
  height: 100vh;
  margin-bottom: 0;
}

.welcome {
  font-size: 80px;
  margin-bottom: 0;
  margin-top: 30vh;
  color: #a7128ba9;
}

.catchphrase {
  font-size: 50px;
  margin-bottom: 0;
  color: #252525a9;
}