body {
  background-image: url("/public/pizza_background_small.png");
  background-repeat: no-repeat;
  background-position: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
